<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Update Pet</title>
</head>
<body>
    <div class="container">
        <header>
            <%- include('../partials/nav') %>
        </header>
        <h2>Update pet</h2>
        
        <form action="/pets/<%=pet._id%>?_method=PUT" method="POST">
            <fieldset class="fieldset-1">
                <legend>Pet Information</legend>

                <label for="name">Pet's name:</label>
                <input type="text" name="name" id="name" value="<%=pet.name%>" required>
                
                <label for="species">Pet species:</label>
                <select name="species" id="species" required>
                    <option value="dog" <%= pet.species === 'dog' ? 'selected' : '' %>>Dog</option>
                    <option value="cat" <%= pet.species === 'cat' ? 'selected' : '' %>>Cat</option>
                </select>

                <label for="size">Pet Size: </label>
                <select name="size" id="size"  required>
                    <option value ="small" <%=pet.size ==='small' ? 'selected' : ''%> >Small</option>
                    <option value ="medium" <%=pet.size ==='medium' ? 'selected' : ''%>> Medium</option>
                    <option value ="large" <%=pet.size ==='large' ? 'selected' : ''%>>Large</option>
                </select>

                <label for="gender">Pet Gender</label>
                <select name="gender" id="gender" value="<%=pet.gender%>" required>
                    <option value ="male"<%=pet.gender ==='male' ? 'selected' : ''%>>Male</option>
                    <option value ="female"<%=pet.gender ==='female' ? 'selected' : ''%>>Female</option>
                </select>

                <label for="breed"> Pet Breed</label>
                <input type="text" name="breed" id="breed" value="<%=pet.breed%>" >

                <label for="age"> Pet Age</label>
                <input type="number" name="age" id="age" value="<%=pet.age%>" >
                
                <label for ="imageUrl"> Pet image Url:</label>
                <input type="text" name="imageUrl" id="imageUrl" value="<%=pet.imageUrl%>" >
                
                <label for="description">Pet Description</label>
                <textarea name="description" id="description"><%=pet.description%></textarea>
                
                <div class="checkbox">
                    <label for="isReadyForAdoption">Ready For Adoption?</label>
                    <input type ="checkbox" name="isReadyForAdoption" id="isReadyForAdoption" <% if (pet.isReadyForAdoption) { %>checked<% } %> >
                </div>
            </fieldset>

            <fieldset>
                <legend>Contact information</legend>

                <label for="email">Email:</label>
                <input type="email" name="email" id="email"  value="<%=pet.email%>" required>

                <label for="location">Location:</label>
                <input type="text" name="location" id="location" value="<%=pet.location%>" required>
            </fieldset>
            <button type="submit">Update pet</button>
        </form>
    </div>
    
</body>
</html>