<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=pet.name%></title>
</head>
<body>
    <header>
        <%- include('../partials/nav') %>
        <h2><%=pet.name%></h2>
    </header>
    <div class="container">
        <div class="info-container">
            <img src=`${pet.imageUrl}`>
            <div>
                <p><%=pet.species%></p>
                <p><%=pet.size%></p>
                <p><%=pet.gender%></p>
                <p><%=pet.breed%></p>
                <p><%=pet.age%></p>
                <p><%=pet.descripcion%></p>
            </div>

            <div class="contact-container">
                <p><%=pet.contact%></p>
                <p><%=pet.email%></p>
            </div>

        </div>
        <a href="/pets/<%=pet._id%>/edit"> Edit Pet</a>
        <form action="/pets/<%=pet._id%>?_method=DELETE" method="POST">
            <button type="submit" >Delete <%=pet.name%></button>
        </form>
    </div>
</body>
</html>